# =========================
# ENVIRONMENT VARIABLES
# =========================
.env
.env.*

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# =========================
# MACHINE LEARNING MODELS
# =========================
*.pkl
*.joblib

# =========================
# NODE / FRONTEND
# =========================
node_modules/
build/
dist/

# =========================
# LOG FILES
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# RENDER CACHE
# =========================
.render